.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 50%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.restContent {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.buttonCloseModal {
  width: 30px;
  float: right;
  padding: 2px 5px;
  background: #ccc;
  margin-top: 10px;
  position: absolute;
  right: 10px;
}
